.canvas {
  background-color: var(--background-color);
}

.node {
  position: relative;
  background-color: var(--color-blue);
  border: none;
  box-shadow: var(--elevation-2);
  text-align: center;
  max-width: 200px;

  > .react-flow__handle {
    visibility: hidden;
    background-color: var(--color-blue);
  }
}

.node[data-selected='true'] {
  background-color: var(--color-blue-dark);

  > .react-flow__handle {
    background-color: var(--color-blue-dark);
  }
}

.node:hover > .react-flow__handle {
  visibility: visible;
}

.edge {
  text-align: center;

  > .label {
    background-color: var(--transition-color);
    line-height: 1.8;
    white-space: nowrap;
  }

  > .guard {
    color: var(--transition-color);
    line-height: 1.2;
    background-color: var(--background-color);
  }
}

.edge[data-selected='true'] {
  > .label {
    background-color: var(--color-blue);
  }

  > .guard {
    color: var(--color-blue);
  }
}

footer {
  position: absolute;
  bottom: var(--spacing-2);
  left: 1rem;
  z-index: 100;
  color: var(--text-color);
}

.github-corner {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(-1, 1);
  z-index: 100;

  .triangle {
    fill: var(--color-gray-300);
  }

  .octo {
    fill: var(--background-color);
  }
}

a,
a:link,
a:visited,
a:active {
  color: var(--text-color);
  text-decoration-color: var(--color-blue);
  text-decoration-thickness: 1px;
  transition: var(--transition);
}

a:hover {
  color: var(--color-blue);
}
