.node {
  position: relative;
  background-color: var(--color-blue);
  border: none;
  box-shadow: var(--elevation-2);
  text-align: center;
  width: 150px;
  word-wrap: break-word;

  > .react-flow__handle {
    visibility: hidden;
    background-color: var(--color-blue);
  }
}

.node[data-selected='true'] {
  background-color: var(--color-blue-dark);

  > .react-flow__handle {
    background-color: var(--color-blue-dark);
  }
}

.node:hover > .react-flow__handle {
  visibility: visible;
}

.edge {
  text-align: center;

  > .label {
    line-height: 1.8;
    white-space: nowrap;
  }

  > .guard {
    line-height: 1.2;
  }
}

.edge[data-selected='true'] {
  > .label {
    background-color: var(--color-blue);
  }

  > .guard {
    color: var(--color-blue);
  }
}

.github-corner {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(-1, 1);
  z-index: 100;

  .triangle {
    fill: var(--color-gray-300);
  }

  .octo {
    fill: var(--theme-back-secondary);
  }
}
