.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(#000, 0.25);
  outline: 0;
}

.modal-dialog {
  position: relative;
  background-color: var(--secondary-background-color);
  margin-top: var(--spacing-3);
  width: var(--size-3);
  max-height: 100%;
  background-clip: padding-box;
  outline: 0;
  pointer-events: auto;
}

.modal-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

.modal-dialog {
  a,
  a:link,
  a:visited,
  a:active {
    color: var(--gray-100);
  }
}
