.sidebar {
  overflow-y: auto;
  z-index: 100;
  width: var(--size-1);
  transition: var(--transition);
  overflow-y: auto;
}

.sidebar[data-opened='false'] {
  width: 0px;
  padding: 0px;
}

.sidebar button {
  margin-top: auto;
}
