button[role='switch'] {
  height: 1.8rem;
  min-width: 4.7rem;
  background-color: var(--color-gray-300);
  border: 2px solid var(--color-gray-300);
  border-radius: 1rem;
  transition: all 400ms ease-in-out;
}

button[role='switch'][aria-checked='true'] {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

button[role='switch'] span {
  display: inline-block;
  line-height: calc(1.8rem - 4px);
  height: calc(1.8rem - 4px);
  min-width: 2.2rem;
  color: var(--color-gray-100);
  border-radius: 2rem;
  pointer-events: none;
  transition: all 400ms ease-in-out;
}

button[role='switch'][aria-checked='true'] > :last-child,
button[role='switch'][aria-checked='false'] > :first-child {
  background: var(--color-gray-100);
}
