button[role='switch'] {
  height: calc(1.4rem + 4px);
  background-color: var(--color-gray-300);
  border: 2px solid var(--color-gray-300);
  border-radius: 1rem;
  transition: all 400ms ease-in-out;
}

button[role='switch'][aria-checked='true'] {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

button[role='switch'] span {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 1.4rem;
  min-width: 1.8rem;
  color: var(--color-gray-100);
  border-radius: 2rem;
  pointer-events: none;
  transition: all 400ms ease-in-out;
}

button[role='switch'][aria-checked='true'] > :last-child,
button[role='switch'][aria-checked='false'] > :first-child {
  background: var(--color-gray-100);
}
