#toast {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  .toast {
    transition: all 300ms ease-in-out;
  }

  .toast[data-state='notvisible'] {
    transform: translateY(-20rem) scale(1);
  }
}
