[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  line-height: 1.3;

  border-radius: var(--radius-0);
  padding: var(--spacing-000);
  background-color: var(--secondary-background-color);
  color: var(--color-gray-100);

  bottom: 115%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, 0);

  text-align: center;
  font-size: var(--text-000);
}

[data-tooltip]:hover::after {
  content: '';
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 0);
  border-width: 5px;
  border-style: solid;
  border-color: var(--secondary-background-color) transparent transparent
    transparent;
}
