[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  line-height: 1.3;

  border-radius: var(--radius-0);
  padding: var(--spacing-000);
  background-color: var(--color-gray-300);
  color: var(--color-gray-100);

  bottom: 115%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, 0);

  text-align: center;
  font-size: var(--text-000);
}

[data-tooltip]:hover::after {
  content: '';
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 0);
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-gray-300) transparent transparent transparent;
}

[data-tooltip-position='left']:hover::before {
  left: calc(100% - 5px);
  top: 50%;
  bottom: auto;
  transform: translate(0, -50%);
}

[data-tooltip-position='left']:hover::after {
  top: 50%;
  left: calc(100% - 15px);
  transform: translate(0, -50%);
  border-color: transparent var(--color-gray-300) transparent transparent;
}
