.add-button {
  position: absolute;
  z-index: 100;
  top: 32px;
  left: 32px;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  box-shadow: var(--elevation-2);
}

.add-button span [data-tooltip] {
  position: relative;
}

.info-button {
  position: absolute;
  z-index: 100;
  top: 42px;
  left: 102px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  box-shadow: var(--elevation-2);
}

.add-button span [data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  line-height: 1.3;

  border-radius: var(--radius-0);
  padding: var(--spacing-000);
  margin-bottom: var(--spacing-000);
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);

  top: 120%;
  width: 200px;

  text-align: center;
  font-size: var(--text-000);
}

[data-tooltip]:hover::after {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 50%;
  margin-top: calc(-1 * var(--spacing-000));
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--color-gray-500) transparent;
}
