summary {
  border: 4px solid transparent;
  outline: none;
  display: block;
  padding-left: 1.6rem;
  position: relative;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

summary:before {
  content: '';
  border-width: 0.6rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0.9rem;
  left: 0rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}
