.sidebar {
  overflow-y: auto;
  box-shadow: var(--elevation-2);
}

.sidebar > div {
  width: var(--size-2);
  transition: var(--transition);
  overflow-y: auto;
  overflow-x: hidden;

  > * {
    transition: var(--transition);
  }

  > footer {
    margin-top: auto;
  }
}

.sidebar[data-state='closed'] > div {
  width: 0px;

  > * {
    display: none;
  }
}

.sidebar > button div {
  transition: var(--transition);
}

.sidebar[data-state='closed'] > button div {
  transform: rotate(-180deg);
}
