$colors: (
  'gray-100': #fafafa,
  'gray-200': #e5eaed,
  'gray-300': #a7b1bc,
  'gray-400': #29333a,
  'gray-500': #0e141e,
  'blue': #5467ff,
  'blue-dark': #2e43eb,
  'red': #ff0056,
  'red-dark': #d00046,
);

$light-theme: (
  'front': 'gray-500',
  'back': 'gray-100',
  'back-secondary': 'gray-200',
  'transition': 'gray-400',
);

$dark-theme: (
  'front': 'gray-100',
  'back': 'gray-500',
  'back-secondary': 'gray-400',
  'transition': 'gray-300',
);

$themes: (
  'dark': $dark-theme,
  'light': $light-theme,
);

:root {
  --transition: all 200ms ease-in-out;
}
