@import './tokens';
@import '~@crinkles/feo/feo';

/*******
* Generic styling
*******/
html,
body {
  color: var(--gray-500);
  line-height: 1.4;
  background-color: var(--gray-100);
}

/*******
* Custom styles
*******/
@import './blocks/sidebar';
@import './blocks/canvas';
@import './blocks/toasts';
@import './blocks/toolbar';
@import './blocks/tooltip';
@import './blocks/modal';
@import './blocks/switch';

.no-outline:focus {
  outline: none;
}

.transition {
  transition: var(--transition);
}

.full-width {
  width: 100%;
}

.shadow {
  box-shadow: var(--elevation-2);
}

pre > code {
  line-height: 1.2;
}
