@import './tokens';
@import '~@crinkles/feo/feo';

/*******
* Generic styling
*******/
html,
body,
.grail {
  color: var(--theme-front);
  line-height: 1.4;
  background-color: var(--theme-back);
}

/*******
* Custom styles
*******/
@import './blocks/sidebar';
@import './blocks/canvas';
@import './blocks/toasts';
@import './blocks/tooltip';
@import './blocks/modal';
@import './blocks/switch';
@import './blocks/controls';
@import './blocks/command';

.no-outline:focus {
  outline: none;
}

.transition {
  transition: var(--transition);
}

.full-width {
  width: 100%;
}

.shadow {
  box-shadow: var(--elevation-2);
}

main {
  position: relative;
  overflow-y: hidden !important;
}

header {
  z-index: 100;

  > .logo {
    margin-right: auto;
  }

  > button {
    line-height: 1.1;
  }
}

textarea {
  font-family: var(--monospace);
}

footer {
  position: absolute;
  bottom: var(--spacing-0);
  left: var(--spacing-0);
  z-index: 100;
}

a,
a:link,
a:visited,
a:active {
  color: var(--text-theme-front);
  text-decoration-color: var(--color-blue);
  text-decoration-thickness: 1px;
  transition: var(--transition);
}

a:hover {
  color: var(--color-blue);
}

.monospace {
  font-family: var(--monospace);
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-gray-400);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}
