@import './tokens';
@import '~@crinkle/feo/feo';

/*******
* Generic styling
*******/
html,
body {
  color: var(--gray-500);
  background-color: var(--gray-100);
}

/*******
* Custom styles
*******/
@import './sidebar';
@import './buttons';
@import './node';
@import './details';
@import './toasts';

.no-outline:focus {
  outline: none;
}

.full-width {
  width: 100%;
}
